pydantic
fastapi[standard]
requests
uvicorn
apscheduler

openai

pytz
sqlmodel
psycopg[binary]
psycopg2-binary
pyyaml

python-dateutil
structlog

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-api-python-client-stubs

notion-client

boto3
types-boto3[essential, secretsmanager, s3, bedrock]
boto3-stubs

Markdown

langchain
langchain-core
langchain-aws
langchain-community
langgraph
langgraph-checkpoint-postgres

Pillow
